<!-- Add this css File in head tag-->
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->


       <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

           <!-- Indicators -->
           <ol class="carousel-indicators">
               <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper For Slides -->
           <div class="carousel-inner" role="listbox">

               <!-- Third Slide -->
               <div class="item active">

                   <!-- Slide Background -->
                   <img src="https://static.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>

                   <div class="container">
                       <div class="row">
                           <!-- Slide Text Layer -->
                           <div class="slide-text slide_style_left">
                               <h1 data-animation="animated zoomInRight">如果你是千里马</h1>
                               <p data-animation="animated fadeInLeft">我们这里有伯乐</p>
                               <a href="http://localhost:3000/jobs/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">应聘工作</a>
                               <a href="http://localhost:3000/users/sign_in" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">发布工作</a>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Second Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="https://picjumbo.imgix.net/HNCK7437.jpg?q=40&w=1650&sharp=30" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_center">
                       <h1 data-animation="animated flipInX">你想把你的技能变现</h1>
                       <p data-animation="animated lightSpeedIn">那么这里可以帮你</p>
                       <a href="http://localhost:3000/jobs/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">应聘工作</a>
                       <a href="http://localhost:3000/users/sign_in" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">发布工作</a>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Third Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="https://static.pexels.com/photos/30342/pexels-photo-30342.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_right">
                       <h1 data-animation="animated zoomInLeft">想转换行业</h1>
                       <p data-animation="animated fadeInRight">这里是各行各种的精英的聚集地,给你最专业的咨询</p>
                       <a href="http://localhost:3000/jobs/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">应聘工作</a>
                       <a href="http://localhost:3000/users/sign_in/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">发布工作</a>
                   </div>
               </div>
               <!-- End of Slide -->


           </div><!-- End of Wrapper For Slides -->

           <!-- Left Control -->
           <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
               <span class="fa fa-angle-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
           </a>

           <!-- Right Control -->
           <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
               <span class="fa fa-angle-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
           </a>

       </div> <!-- End  bootstrap-touch-slider Slider -->


         <h2>优秀企业</h2>
        <hr>
        <div class="row">
         <div class="col-sm-4"><img class="img-circle img-responsive img-center" <%= image_tag("pic-1.png")%>
          <h2 class="text-center">腾讯集团</h2>
          <p>深圳市腾讯计算机系统有限公司成立于1998年11月，2004年6月16日，腾讯公司在香港联交所主板公开上市（股票代号00700），是香港恒生指数成分股之一，董事会主席兼首席执行官是马化腾。</p>
            </div>
              <div class="col-sm-4"><img class="img-circle img-responsive img-center" <%= image_tag("pic-2.png")%>
                <h2 class="text-center">阿里巴巴</h2>
               <p>2014年9月19日，阿里巴巴集团在纽约证券交易所正式挂牌上市，股票代码“BABA”，创始人和董事局主席为马云。2015年全年，阿里巴巴总营收943.84亿元人民币，净利润688.44亿元人民币。</p>
             </div>
            <div class="col-sm-4">
            <!-- <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt=""> -->
               <img class="img-circle img-responsive img-center" <%= image_tag("pic-3.png")%>
              <h2 class="text-center">百度集团</h2>
               <p>百度（纳斯达克：BIDU），全球最大的中文搜索引擎、最大的中文网站。1999年底,身在美国硅谷的李彦宏看到了中国互联网及中文搜索引擎服务的巨大发展潜力，抱着技术改变世界的梦想，他毅然辞掉硅谷的高薪工作，携搜索引擎专利技术，于 2000年1月1日在中关村创建了百度公司。</p>
           </div>
        </div>
        <!-- /.row -->

    <hr>
  <h2>联系我们</h2>
   <hr>
        <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>深圳科技园</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>bole@offer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-12345678</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
