/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
@import "font-awesome";

//---login/logout
.navbar-default {
     background-color: black;  //背景颜色

     border-color: black; //边框色

     //margin-bottom: 0; //底部 margin 不撑开距离
 }

 .navbar-default .navbar-brand {
   color: #BDBDBD; //字体颜色

   padding: 10px 15px; //上下10px，左右15px
   line-height: 30px; //文字行高
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
   color: white; //鼠标放置在链接上的文字颜色

   background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
 }

 .navbar-default .navbar-nav > li > a{
   color: #BDBDBD;

 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: white;

   background-color: transparent;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
   color: #BDBDBD;

   background-color: transparent;

 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
   background-color: transparent;

   color: white;

 }

 .navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     width: 32px; //定制图片宽度
     height: 32px; //定制图片高度
 }

 @media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
 }

 #search-id {
 width: 200px;
 padding-top: 7px;
 }



//--admin-job --
.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}



// //-----common----
// .col-centered{
//   float: none;
//   margin: 0 auto;
//
// }

//--hot jobs--
.hot-jobs-category {
  position: relative;
  .section-title {
    margin-top: 0px;

    .short-line {
      margin-bottom: 50px;
    }
  }
  .hjc-ul {
    margin: 50px auto 0;
    overflow: hidden;
    padding: 0 20px 0;
    text-align: center;

    width: 1024px;
    .thumbnail {
      padding: 0 0 15px 0;
      width: 220px;
      height: 150px;
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      border-radius: 0;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #146eb4;
        font-size: 16px;
        padding: 6px 25px;
        color: #fff;
        transition: opacity .4s ease-in-out;
      }
      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -webkit-transition: all .8s;
        transition: all .8s;
        border: 1px solid #146eb4;
      }
    }
  }
}

//common
.short-line {
    display: block;
    background: #146eb4;
    border-style: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 53;
    width: 100px;
    height: 1.5px;
    font-weight: 700;
    position: left;
}
